.loader {
    width: 300px;
    height: 40px;
    border: 1px solid black;
}

.loader-bar {
    width: 50%;
    height: 100%;
    background-color: greenyellow;
}

.clicker {
    transition-duration: 200ms;
    background-image: url('/res/roblox.jpg');
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.container {
    display: grid;
    grid-template-areas: '';
}

.clickers {
    display: flex;
    flex-flow: column;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    color: #dfe6e9;
}

body {
    background-color: #2d3436;
}

ul {
    list-style-type: none;
}

button {
    background-color: #2d3436;
    border: 1px solid #636e72;
    border-radius: 6px;
    padding: 6px;
}